@inject NavigationManager navman

<div style="height:70px;background-color:#FFDDA6">
    <img src="t-high-resolution-logo-transparent.png" alt="logo-image" style="width:50px;position:relative;top:8px;left:3%" />
    <a class="superlink" href="#" style="font-size:1.75rem;color:#FF423B;background-color:#FFDDA6;position:relative;top:17.8%;left:56%;border:none;font-family: 'Jaldi';" @onclick="@(() => navman.NavigateTo("#section1"))">About</a>
    <a class="superlink" href="#" style="font-size:1.75rem;color:#FF423B;background-color:#FFDDA6;position:relative;top:17.8%;left:60%;border:none;font-family: 'Jaldi';" @onclick="@(() => navman.NavigateTo("#section2"))">Projects</a>
    <a class="superlink" href="#" style="font-size:1.75rem;color:#FF423B;background-color:#FFDDA6;position:relative;top:17.8%;left:64%;border:none;font-family: 'Jaldi';" @onclick="@(() => navman.NavigateTo("#section3"))">Contact</a>
    <a href="teymur asgarkhanov cv.pdf" target="_blank">
        <button class="resume-btn">Resume</button>
    </a>
</div>
