<div style="height:70px;background-color:#FFDDA6">
    <img src="t-high-resolution-logo-transparent.png" alt="logo-image" style="width:50px;position:relative;top:8px;left:3%"/>
    <a class="superlink" href="#" style="font-size:1.75rem;color:#FF423B;background-color:#FFDDA6;position:relative;top:17.8%;left:56%;border:none;font-family: 'Jaldi';">About</a>
    <a class="superlink" href="#" style="font-size:1.75rem;color:#FF423B;background-color:#FFDDA6;position:relative;top:17.8%;left:60%;border:none;font-family: 'Jaldi';">Projects</a>
    <a class="superlink" href="#" style="font-size:1.75rem;color:#FF423B;background-color:#FFDDA6;position:relative;top:17.8%;left:64%;border:none;font-family: 'Jaldi';">Contact</a>
    <button style="background-color:#FFDDA6;color:black;width:155px;height:47px;position:absolute;right:4%;top:11.5px;border:solid;border-width:2px;border-color:#FF423B;font-family: 'Jaldi';font-size: 1.75rem;">Resume</button>
</div>