<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="utils.css" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="hero.css" />
    <link rel="stylesheet" href="about.css" />
    <link rel="stylesheet" href="featured.css" />
    <link rel="stylesheet" href="contact.css" />
    <link rel="stylesheet" href="work.css" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="mobile-nav.css" />
    <link rel="stylesheet" href="Portfolio_Tim.styles.css" />
    <link href="https://api.fontshare.com/v2/css?f[]=chillax@300,400,600&display=swap" rel="stylesheet">
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="mobile-nav.js"></script>
    <script src="dark-mode.js"></script>
</body>

</html>
